.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('/public/fine jewelry.png'); /* مسیر تصویر پس‌زمینه */
  background-size: cover; /* اندازه‌ی تصویر را مطابق اندازه صفحه تنظیم می‌کند */
  background-position: center center; /* تصویر را در وسط صفحه قرار می‌دهد */
  background-attachment: fixed; /* تصویر پس‌زمینه را ثابت نگه می‌دارد */
  margin: 0; /* حذف حاشیه‌های پیش‌فرض */
  height: 100vh; /* ارتفاع صفحه را به اندازه صفحه تنظیم می‌کند */
}
